{% extends "base.html" %}
{% block content %}
<form method="post" action="">{% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}"/>
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
    {% endif %}

    {% if form.old_password.errors %}
        {% for error in form.old_password.errors %}
            <div class="alert alert-danger">旧密码 : {{ error }}</div>
        {% endfor %}
    {% endif %}

    {% if form.new_password1.errors %}
        {% for error in form.new_password1.errors %}
            <div class="alert alert-danger">新密码 : {{ error }}</div>
        {% endfor %}
    {% endif %}

    {% if form.new_password2.errors %}
        {% for error in form.new_password2.errors %}
            <div class="alert alert-danger">二次新密码 : {{ error }}</div>
        {% endfor %}
    {% endif %}


    <div class="col-xs-12 col-md-10">
        <div class="panel panel-info">
            <div class="panel-heading">
                <a href="#" style="font-size: 16px;">找回密码</a>
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <span class="input-group-addon" >旧 密 &nbsp&nbsp码</span>
                    <input type="password" class="form-control" placeholder="Password" name="old_password" aria-describedby="old password">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" >新 密 &nbsp&nbsp码</span>
                    <input type="password" class="form-control" placeholder="Password" name="new_password1" aria-describedby="new password">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" >再次输入新密码</span>
                    <input type="password" class="form-control" placeholder="Password" name="new_password2" aria-describedby="new password again">
                </div>
            </div>
            <div class="panel-footer">
                <div class="form-group">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">修改密码</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}