{% extends "base.html" %}
{% block content %}
{% if validlink %}
<form method="post" action="">{% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}"/>
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
    {% endif %}

    {% if form.new_password1.errors %}
        {% for error in form.new_password1.errors %}
            <div class="alert alert-danger">密码 : {{ error }}</div>
        {% endfor %}
    {% endif %}

    {% if form.new_password2.errors %}
        {% for error in form.new_password2.errors %}
            <div class="alert alert-danger">二次密码 : {{ error }}</div>
        {% endfor %}
    {% endif %}


    <div class="col-xs-12 col-md-10">
        <div class="panel panel-info">
            <div class="panel-heading">
                <a href="#" style="font-size: 16px;">用户登陆</a>
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <span class="input-group-addon" >密 &nbsp&nbsp码</span>
                    <input type="password" class="form-control" placeholder="Password" name="new_password1" aria-describedby="password">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" >再次输入密码</span>
                    <input type="password" class="form-control" placeholder="Password" name="new_password2" aria-describedby="password">
                </div>
                <br>
                <div class="form-group">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">&nbsp提&nbsp&nbsp交&nbsp</button>

                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <a href="#" style="font-size: 16px;">找回密码</a>
            </div>
        </div>
    </div>
</form>
{% else %}
失效了
{% endif %}
{% endblock %}